body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: aliceblue;
    padding: 20px;
}

h1 {
    color: #333;
}

input {
    padding: 20px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#produtos-lista {
    margin-top: 20;
    list-style-type: none;
    padding: 0;
}

#produtos-lista li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}